* {
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  color: var(--main-font-color);
}

.full-screen {
  height: 100vh;
  width: 100%;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.no-select {
  user-select: none;
}

.display-none {
  display: none !important;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  outline: none;
  background-color: var(--white);
  border: 1px solid var(--input-border-color);
}

input::placeholder {
  color: var(--input-placeholder-color);
}

:root {
  --main-font-color: #333;
  --main-button-background-color: lightgrey;
  --main-button-border-color: #999;
  --input-border-color: #999;
  --input-placeholder-color: #888;
  --white: #fff;
}

.btn {
  padding: 5px 20px;
  border: 2px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.95);

  margin-bottom: 10px;
}

.btn-create-room {
  margin: 10px 0 20px 15px;
}

.main-title {
  margin-left: 15px;
}

.room-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
}

.room-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 250px;

  margin-right: 10px;
  margin-bottom: 10px;

  border: 3px solid #000;
}

.room-users {
  align-self: flex-start;
  font-size: 13px;
  font-style: italic;
  color: var(--main-font-color);
}

.main {
  display: flex;
  position: relative;
}

.users {
  margin-top: 50px;
  display: inline-block;
}

.user {
  width: 320px;
  margin-bottom: 30px;
}

.indicator {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #000;
  margin: 0 10px -2px;
}

.progress-bar {
  width: 300px;
  height: 40px;
  border: 2px solid #000;
  margin: 4px 0 0 15px;
}

.progress-bar-scale {
  width: 0;
  height: 100%;
  background: green;
}

.progress-bar-scale.finished {
  background: darkcyan;
}

.game-header,
.user-info {
  margin-left: 15px;
}

.game-title {
  font-size: 45px;
  margin-bottom: 10px;
}

.name {
  font-size: 14px;
  font-style: italic;
}

.main-screen {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;

  border: 3px solid #000;
  width: 500px;
  height: 400px;
  margin-left: 50px;
}

.btn-ready {
  padding: 20px 45px;
  font-size: 20px;
  font-weight: bold;
}

.not-ready {
  background: red;
}

.ready {
  background: green;
}

.timer {
  font-size: 50px;
}

.game-timer-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;

  font-size: 13px;
  font-style: italic;
}

.entered-text {
  background: rgb(116, 202, 4);
  color: antiquewhite;
}

.modal-results {
    display: flex;
    flex-direction: column;
    list-style: none;
    list-style-type: none;
    position: absolute;
    top: 0;
    left: calc(50% - 170px);
    width: 350px;
    height: 300px;
    background: beige;
    box-shadow: 10px 10px 15px -7px rgba(0,0,0,0.95);
}

.modal-header {
  text-align: center;
  padding: 15px;
  font-size: 22px;
}

.list-item {
  list-style-type: none;
  padding: 8px 10px 8px 15px;
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 5px;

  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  color: red;
}

.commentator {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.comments {
  width: 240px;
  height: 35%;
  margin-left: 15px;
  padding: 10px;

  border-radius: 20px;
  font-size: 12px;
  background: beige;
}

.comments:after {
  content: "";
    display: block;
    height: 25px;
    border-radius: 50%;
    width: 18px;
    background: beige;
    position: absolute;
    top: 213px;
    right: 118px;
    transform: rotate(-115deg);
}

.commentator-img {
  width: 200px;
  height: 200px;
}